<!doctype html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=2,minimum-scale=.25,user-scalable=yes"
      name="viewport"
    />
    <meta content="Graycraft" name="apple-mobile-web-app-title" />
    <meta content="Graycraft" name="application-name" />
    <meta content="#808080" name="theme-color" />
    <meta
      content="Defined Prototype &lt;graycraft@pm.me&gt; (https://graycraft.me/)"
      name="description"
    />
    <meta content="nofollow,noindex" name="robots" />
    <meta
      content="Defined Prototype &lt;graycraft@pm.me&gt; (https://graycraft.me/)"
      property="og:description"
    />
    <!--meta
      content="/% imagePath %"
      property="og:image"
    /-->
    <meta
      content="Defined Prototype &lt;graycraft@pm.me&gt; (https://graycraft.me/)"
      property="og:title"
    />
    <meta content="https://graycraft.me/" property="og:url" />
    <title><%- title %></title>
    <base href="//<%- host %>" target="_blank" />
    <link href="//fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="//fonts.gstatic.com" rel="preconnect" />
    <link href="//fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet" />
    <link href="https://graycraft.me" rel="canonical" />
    <link href="/<%- imagePath %>" rel="icon" />
    <link href="/<%- imagePath %>" rel="apple-touch-icon" sizes="360x360" />
    <link href="/<%- imagePath %>" rel="icon" sizes="360x360" type="image/png" />
    <link href="/<%- imagePath %>" rel="mask-icon" />
    <!--link
      href="/stylesheets/style.css"
      rel="stylesheet"
    />-->
    <style>
      <%- css %>
    </style>
    <style>
      body {
        font-size: <%- size / 12 %>px;
        line-height: <%- (size / 12) * 1.5 %>px;
      }
      nav {
        background-color: <%- hslLight %>;
      }

      #description {
        font-size: <%- 5 / 4 %>rem;
        line-height: <%- (5 / 4) * 1.5 %>rem;
      }
      #links-index {
        font-size: <%- 5 / 2 %>rem;
        line-height: <%- (5 / 2) * 1.5 %>rem;
      }
      #links-index a {
        color: <%- hsl %>;
      }
      #title {
        font-size: <%- 5 * 2 %>rem;
        line-height: <%- (5 * 4) * 1.5 %>rem;
      }
    </style>
    <script>
      'use strict';

      console.log(String.raw`%c
      ____  _____    ___  _     _ ____  _____    ___   ____ _____
     / ___\|  __ \  / _ \| |   | | ___\|  __ \  / _ \ |  __|_   _|
    / /   _| |__\ \/ /_\ \\ \_/ / /    | |__\ \/ /_\ \| |__  | |
    \ \__| |  __  /  ___  \\   /\ \____|  __  /  ___  |  __| | |
     \_____|_|  \_|_|   |_| |_|  \____/|_|  \_|_|   |_|_|    |_|

    because gray matters
      `, 'color: <%- rgb %>;');

      document.onselectstart = function (event) {
        event.preventDefault();
      };
      window.addEventListener("load", function () {
        console.info('COTD (Color Of The Day): ' + '<%- rgb %>');
      });
    </script>
  </head>
  <body>
    <noscript>JavaScript is not supported by your browser.</noscript>
    <main>
      <div id="wrapper">
        <header>
          <h1 id="title"><%- header %></h1>
          <p id="description"><%- paragraph %></p>
        </header>
        <nav>
          <div id="nav-wrapper">
            <ul id="links-index">
              <li>
                <a
                  draggable="false"
                  href="/"
                  ondragstart="'use strict'; event.preventDefault();"
                  target="_top"
                  title="Go to the index page."
                >Index</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </main>
    <footer>
      <a
        draggable="false"
        href="https://html5.validator.nu/?doc=https%3A%2F%2Fgraycraft.me/404"
        ondragstart="'use strict'; event.preventDefault();"
        rel="external nofollow noopener noreferrer"
        target="_blank"
        title="The document is valid HTML5 + ARIA + SVG 1.1 + MathML 2.0."
      >W3C (X)HTML5</a> | DP &#xA9; <%- year %>
    </footer>
  </body>
</html>
