<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=2,minimum-scale=.25,user-scalable=yes"
      name="viewport"
    />
    <meta content="Graycraft" name="apple-mobile-web-app-title" />
    <meta content="Graycraft" name="application-name" />
    <meta content="#808080" name="theme-color" />
    <meta
      content="Defined Prototype &lt;graycraft@pm.me&gt; (https://graycraft.me/)"
      name="description"
    />
    <meta content="nofollow,noindex" name="robots" />
    <meta
      content="Defined Prototype &lt;graycraft@pm.me&gt; (https://graycraft.me/)"
      property="og:description"
    />
    <!--meta
      content="/% imagePath %"
      property="og:image"
    /-->
    <meta
      content="Defined Prototype &lt;graycraft@pm.me&gt; (https://graycraft.me/)"
      property="og:title"
    />
    <meta content="https://graycraft.me/" property="og:url" />
    <title><%- title %></title>
    <base href="//<%- host %>" target="_blank" />
    <link href="//fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="//fonts.gstatic.com" rel="preconnect" />
    <link href="//fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet" />
    <link href="https://graycraft.me" rel="canonical" />
    <link href="/<%- imagePath %>" rel="icon" />
    <link href="/<%- imagePath %>" rel="apple-touch-icon" sizes="360x360" />
    <link href="/<%- imagePath %>" rel="icon" sizes="360x360" type="image/png" />
    <link href="/<%- imagePath %>" rel="mask-icon" />
    <!--link
      href="/stylesheets/style.css"
      rel="stylesheet"
    />-->
    <style><%- css %></style>
    <style>
      a:hover {
        color: <%- hsl %> !important;
      }
      a[target="_blank"] {
        background-image: url("data:image/svg+xml,<%- externalLink %>");
      }
      body {
        font-size: <%- size / 12 %>px;
        line-height: <%- (size / 12) * 1.5 %>px;
      }
      nav {
        background-color: <%- hslLight %>;
      }

      .logotype {
        max-height: <%- size %>px;
        max-width: <%- size %>px;
      }

      #links-contacts {
        font-size: <%- 5 / 3 %>rem;
        line-height:  <%- (5 / 3) * 1.5 %>rem;
      }
      #links-legacy {
        font-size: <%- 5 / 2.5 %>rem;
        line-height:  <%- (5 / 2.5) * 1.5 %>rem;
      }
      #links-social {
        font-size: <%- 5 / 2 %>rem;
        line-height:  <%- (5 / 2) * 1.5 %>rem;
      }
      #links-social a {
        color: <%- hsl %>;
      }
    </style>
    <!--script
      defer=""
      onerror="'use strict'; console.error('Can not load the script:', this);"
      src="/javascripts/graycraft.umd.js"
    ></script-->
    <script>
      <%- script %>;
    </script>
    <script>
      'use strict';

      console.log(String.raw`%c
      ____  _____    ___  _     _ ____  _____    ___   ____ _____
     / ___\|  __ \  / _ \| |   | | ___\|  __ \  / _ \ |  __|_   _|
    / /   _| |__\ \/ /_\ \\ \_/ / /    | |__\ \/ /_\ \| |__  | |
    \ \__| |  __  /  ___  \\   /\ \____|  __  /  ___  |  __| | |
     \_____|_|  \_|_|   |_| |_|  \____/|_|  \_|_|   |_|_|    |_|

    because gray matters
      `, 'color: <%- rgb %>;');

      document.onselectstart = function (event) {
        event.preventDefault();
      };
      window.addEventListener("load", function () {
        var graycraft = new window.Graycraft(<%- size %>, '<%- hsl %>', '<%- back %>', <%- round %>),
          canvas = graycraft.drawCanvas();

        graycraft.renderImage(canvas);
        graycraft.drawSvg();
        console.info('COTD (Color Of The Day): ' + '<%- rgb %>');
      });
    </script>
  </head>
  <body>
    <noscript>JavaScript is not supported by your browser.</noscript>
    <main>
      <div id="wrapper">
        <header>
          <!-- Image from base64 data URL generated on the server side (fast). -->
          <img
            alt="&lt;img /&gt;"
            class="hidden logotype"
            draggable="false"
            loading="lazy"
            ondragstart="'use strict'; event.preventDefault();"
            onerror="'use strict'; console.error('Can not load the image:', this);"
            src="<%- image %>"
            title="Graycraft"
          />
          <!-- Image loading from a PNG file URL on a client side (slow). -->
          <img
            alt="&lt;img /&gt;"
            class="hidden logotype"
            draggable="false"
            loading="lazy"
            ondragstart="'use strict'; event.preventDefault();"
            onerror="'use strict'; console.error('Can not load the image:', this);"
            src="/<%- imagePath %>"
            title="Graycraft"
          />
          <!-- Image from a blob URL generated on a client side (slowest). -->
          <% /* %>
            The source is set dynamically by the script above after page load.
            Before that, attribute `src` is required for tag `img` and must be non-empty to pass W3C (X)HTML5 validation.
            Therefore any image URL is applicable here, shortest possible and not requiring download is better.
            @see https://stackoverflow.com/a/13139830
          <% */ %>
          <img
            alt="&lt;img /&gt;"
            class="hidden logotype"
            draggable="false"
            id="logo-image"
            ondragstart="'use strict'; event.preventDefault();"
            onerror="'use strict'; console.error('Can not load the image:', this);"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            title="Graycraft"
          />
          <!-- Canvas generated on a client side (slow). -->
          <canvas
            class="hidden logotype"
            height="<%- size %>"
            id="logo-canvas"
            onerror="'use strict'; console.error('Can not load the canvas:', this);"
            title="Graycraft"
            width="<%- size %>"
          >
            Canvas API is not supported by your browser.
          </canvas>
          <!-- SVG generated on a client side (medium). -->
          <%# Setting height keeps empty space at the top and bottom of a scaled SVG image. %>
          <svg
            class="hidden logotype"
            <%# height="" %>
            id="logo-svg"
            onerror="'use strict'; console.error('Can not load the SVG:', this);"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 <%- size %> <%- size %>"
            width="<%- size %>"
          >
            <desc>SVG is not supported by your browser.</desc>
          </svg>
          <!-- SVG generated on the server side (fastest). -->
          <%- svg %>
        </header>
        <nav>
          <div id="nav-wrapper">
            <ul id="links-contacts">
              <li>
                <a
                  draggable="false"
                  href="https://t.me/graycraft"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My contact on the Telegram."
                >t.me/graycraft</a>
              </li>
              <li>
                <a
                  draggable="false"
                  href="mailto:graycraft@pm.me"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My email address."
                >graycraft@pm.me</a>
              </li>
            </ul>
            <ul id="links-social">
              <li>
                <a
                  draggable="false"
                  href="https://github.com/graycraft"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My repositories on the GitHub."
                >GitHub</a>
              </li>
              <li>
                <a
                  draggable="false"
                  href="https://ekaterinburg.hh.ru/resume/b70500c3ff0ed1a9af0039ed1f63615446704f"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My CV on the HeadHunter."
                >HeadHunter</a>
              </li>
              <li>
                <a
                  draggable="false"
                  href="https://www.linkedin.com/in/dmitriy-papulovskiy-0b779b172"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My profile on the LinkedIn."
                >LinkedIn</a>
              </li>
            </ul>
            <ul id="links-legacy">
              <li>
                <a
                  draggable="false"
                  href="https://freelance.ru/graycraft"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My first works in WebDev."
                >Freelance</a>
              </li>
              <li>
                <a
                  draggable="false"
                  href="https://jsfiddle.net/u/graycraft"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My experiments with JavaScript."
                >JSFiddle</a>
              </li>
              <li>
                <a
                  draggable="false"
                  href="https://web.archive.org/web/20180830010001/https://graycraft.io/#/about"
                  ondragstart="'use strict'; event.preventDefault();"
                  rel="external nofollow noopener noreferrer"
                  target="_blank"
                  title="My legacy personal site."
                >graycraft.io</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </main>
    <footer>
      <a
        draggable="false"
        href="https://html5.validator.nu/?doc=https%3A%2F%2Fgraycraft.me"
        ondragstart="'use strict'; event.preventDefault();"
        rel="external nofollow noopener noreferrer"
        target="_blank"
        title="The document is valid HTML5 + ARIA + SVG 1.1 + MathML 2.0."
      >W3C (X)HTML5</a> | DP &#xA9; <%- year %>
    </footer>
  </body>
</html>
